# Ne pas exclure target/ car on a besoin des fichiers .jar
# Exclure seulement les fichiers sources et de développement
.git/
.gitignore
.mvn/
mvnw
mvnw.cmd
*.md
.idea/
.vscode/
*.iml
.DS_Store
Dockerfile
.dockerignore
Jenkinsfile
src/
pom.xml

